*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../images/trivia\ game3.jpg");
}

.container{
    background: rgb(250, 199, 110);
     width: auto; 
    height: auto;
    margin-top: 40px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(62, 62, 245);
    font-size: 80px;
    text-align: center;
    padding: 40px;
}

#startBtn {
    width: 100%;
    height: auto;
    margin: auto;
}

#timeLeft{
    color: rgb(5, 104, 5);
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}

#questions-container{
    text-align: center;
    font-size: 15px;
    line-height: 2px;
}

h4{
    text-align: center;
    line-height: 40px;
    margin-bottom: -30px;
    line-height: 100px;   
}

#messageDiv{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 45px;
    padding: 20px;
}

#result{
    color: #0000ff;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 20px;   
}

#doneButton{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

#resetButton{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* .................MEDIA.................. */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container{
        background: rgb(250, 199, 110);
        width: auto; 
        height: auto;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px; 
       
    }

    #questions-container{
        text-align: center;
        font-size: 10px;
        line-height: 2px;
    
    }
    h4{
        text-align: center;
        line-height: 40px;
        margin-bottom: -20px;
        line-height: 60px;
        font-size: 15px;  
    }
    #questions-container{
        text-align: center;
        font-size: 11px;
        line-height: 2px;
    }

    h1{
        font-family: 'Fredericka the Great', cursive;
        color: rgb(62, 62, 245);
        font-size: 28px;
        text-align: center;
        padding: 40px;
    }
}