*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../images/trivia\ game3.jpg");
}

.container{
    background: rgb(250, 199, 110);
     /* width: 960px;  */
     width: auto; 
    height: auto;
    margin-top: 40px;
    /* margin-left: 290px;
    margin-right: 200px; */
   
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: blue;
    font-size: 80px;
    text-align: center;
    padding: 40px;
}

.startBtn {
    /* width: 500px; */
    width: 100%;
    /* height: 100px; */
    height: auto;
    /* margin: 50px 200px 100px 200px; */
    margin: auto;
}

#timeLeft{
    color: darkgreen;
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}

#questions-container{
    text-align: center;
    font-size: 15px;
    line-height: 2px;

}

h4{
    text-align: center;
    line-height: 40px;
    margin-bottom: -30px;
    line-height: 100px;
   
}

#messageDiv{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 45px;
    padding: 20px;

}

.result{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 20px;   
}

.doneButton{
    /* width: 300px; */
    width: 100%;
    /* height: 80px; */
    height: auto;
    /* margin: 50px 200px 50px 300px; */
    margin-top: 40px;
}

/* .................MEDIA.................. */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container{
        background: rgb(250, 199, 110);
         /* width: 960px;  */
         width: auto; 
        height: auto;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px; 
       
    }

    #questions-container{
        text-align: center;
        font-size: 10px;
        line-height: 2px;
    
    }
    h4{
        text-align: center;
        line-height: 40px;
        margin-bottom: -20px;
        line-height: 60px;
        font-size: 15px;  
    }
    h1{
        font-family: 'Fredericka the Great', cursive;
        color: blue;
        font-size: 28px;
        text-align: center;
        padding: 40px;
    }
}